/* footer {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
} */
