/* Nav link underline animation */
.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--lwyd-yellow);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}