@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  cursor: none;
}

:root {
  --lwyd-yellow: #ffcc00;
}

.text-lwyd-yellow {
  color: var(--lwyd-yellow);
}

.bg-lwyd-yellow {
  background-color: var(--lwyd-yellow);
}

/* hide scroll bar when no need */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
