@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  cursor: none;
}

:root {
  --lwyd-yellow: #ffcc00;
}

.text-lwyd-yellow {
  color: var(--lwyd-yellow);
}

.bg-lwyd-yellow {
  background-color: var(--lwyd-yellow);
}
